@import "tailwindcss";

@media print {
  @page {
    size: 6in 9in;
    margin: 0;
  }

  html,
  body {
    width: 6in;
    height: 9in;
    overflow: hidden;
    box-sizing: border-box;
  }

  body {
    padding: 0.5in 0.75in;
  }
}