---
interface Props {
  label: string;
  value: string;
}

const { label, value } = Astro.props as Props;
---

<span class="inline-flex items-center gap-1 text-xs border border-gray-400 rounded px-2 py-0.5">
  <span class="font-semibold">{label}:</span>
  <span>{value}</span>
</span>
